@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
body {
  background-color: #232730;
  background-image: url("./assets/bg-img.jpg");
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
}
